body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}


.small-caps {
  font-variant: small-caps;
}


/* .container {
  text-align: center;
  padding: 20px;
} */

.togglecontent {
  padding: 30px;
  display: none; /* Initially hide all content sections */
  /* Other styling for content */
}

.iframe-container {
  justify-content: center; /* Centers content horizontally */
  align-items: center;  /* Centers content vertically */
  height: 100%;         /* Optional: Adjust based on layout needs */
  width: 100%;
}

.responsive-iframe {
  width: 80%;  /* Makes the iframe responsive */
  height: 600px; /* You can adjust this as needed */
  max-width: 100%;  /* Ensures it does not overflow its container */
}

/* Optionally set one section to show by default, e.g., #emotion */
#emotion {
  display: block;
}


.togglebutton {
  background-color: #b0bec5; /* Light gray background */
  border: none;
  color: white;
  padding: 12px 24px; /* Moderate padding for better touch interaction */
  text-align: center;
  text-decoration: none;
  display: block; /* Ensures the button fills the column width */
  font-size: 18px; /* Increased font size for better readability */
  cursor: pointer;
  border-radius: 50px; /* Rounded corners */
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Smooth transition for hover effect */
  width: 100%; /* Makes the button expand to fill the column */
  margin: 5px 0; /* Adds a slight margin for spacing between buttons */
}

.togglebutton:hover {
  background-color: #78909c; /* Darker shade of gray on hover */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Subtle shadow effect on hover */
  transform: translateY(-2px); /* Slight raise effect on hover */
}

.togglebutton.selected {
  background-color: #546e7a; /* Even darker gray to show selection */
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.3); /* More prominent shadow to indicate selection */
}






/* Vedio */
.video-container {
  width: 300px; /* Desired width */
  height: 360px; /* Desired height */
  overflow: hidden;
  position: relative;
}
.video-container video {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* Toggle Bar */
.results-carousel {
  overflow: hidden;
}


/* Adding lines */
.hero.teaser {
  position: relative;
  padding-bottom: 30px;  /* Adjust this value to increase spacing */
  border-bottom: none;
}



/* Style for the top border of the Abstract section */
.section {
  position: relative;
  border-top: none;
}

.section:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 60%;  /* Adjust the width as needed */
  border-top: 2px solid #e1e1e1;
}



/* Examples */
